
@{
    ViewBag.Title = "AdminDashBoard";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Admin</h2>
<br />
<p>
    This is admin dashboard, here you can manage your hotel
</p>

<img src="@Url.Content("~/Content/Images/chart.jpeg")" />
